body {
    background-color: #E0FFFF;
    color: navy;
    font-family: Garamond,serif;
}

h3 {
background-color: blue;
color:white;
font-size: 18px;
font-style: italic;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #000080;
}

address {
font-size: 10%;
}
blockquote{
text-transform: uppercase;
text-align: center;
}